<!DOCTYPE html>

<html lang="en">

<head>
<style>
{{ style_string }}
</style>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
</head>

<body>
<h1> {{ title }} </h1>

<h2> General info </h2>
{{ info_string  }}

<h2> Population, norm and energies </h2>
{{ popul_figure }}
{{ norm_figure }}
{{ kin_tot_figure }}

<h2> Data </h2>
{{ table_output }}

</body>

</html>

