table.dataframe {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.dataframe td, table.dataframe th {
  border: 2px solid #FFFFFF;
  padding: 3px 2px;
}
table.dataframe tbody td {
  font-size: 13px;
}
table.dataframe tr:nth-child(even) {
  background: #D0E4F5;
}
table.dataframe thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.dataframe thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.dataframe thead th:first-child {
  border-left: none;
}

table.dataframe tfoot td {
  font-size: 14px;
}
